<!DOCTYPE html>
<html>

<head>
    <title>Big Data Machine Learning Sentiment Analysis Nodejs Deep Learning Neural Networks Cloud Computing Artificial Intelligence.io</title>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/main.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="jumbotron">
        <h1>Sentiment Analysis Tool</h1>
        <p>Analyze the attitude of a given text</p>
    </div>

    <div id="topbar"></div>
    <div>
        <div id="base"></div>
        <div id="buttonDiv"></div>
        <div id="results"></div>
    </div>

</body>

</html>