<!DOCTYPE html>
<html>
    <head>
        <title>Big Data Machine Learning Sentiment Analysis Nodejs Deep Learning Neural Networks Cloud Computing Artificial Intelligence.io</title>
        <script src="../static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script src="../static/js/main.js"></script>
    </head>
    <body>
        <div id="topbar"></div>
        <form action="/ajaxtest" method="post">
            <div id="base"></div>
            <div id="buttonDiv"></div>
        </form>

    </body>
</html>